.ds-highlight, .ds-comments-tabs, .ds-order-desc, .ds-order-asc, .ds-order-hot, .ds-more-services, .ds-post-likes, .ds-post-repost, .ds-post-placeholder {display: none !important;}
.ds-replybox img, .ds-avatar img {width: 38px !important; height: 38px !important; border-radius: 50% !important; margin-top: 5px !important;}
.ds-login-buttons {font-size: 12px !important; color: #717171 !important;} .ds-login-buttons a, .ds-login-buttons a:hover {color: #717171 !important;}
.ds-gradient-bg {background: #F3F3F3 !important;}
.ds-post-button {background: #F3F3F3 !important; font-size: 14px !important; font-family: "Lucida Sans Unicode", Helvetica, "Times New Roman", SimHei, Hei, "Microsoft Yahei", "Microsoft JhengHei", STHei, "Meiryo UI" !important;}
.ds-post-options, .ds-post-button, .ds-rounded-top{border-radius: 0 !important;}
.ds-post {border: 0 !important; font-size: 12px !important;}
#ds-bubble {display: none !important;}
.ds-comment-body {color: #464646 !important;}
.ds-comment-footer {padding-bottom: 8px !important; border-bottom: 1px solid #F0F0F0 !important;}
.ds-comments {border: 0 !important;}
.ds-thread-count {vertical-align: super;}
@media only screen and (max-width:600px) {
.ds-replybox img, .ds-avatar img {width: 24px !important; height: 24px !important; border-radius: 50% !important; margin-top: 5px !important;}
}