@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?qh8bg5');
	src:url('fonts/icomoon.eot?#iefixqh8bg5') format('embedded-opentype'),
		url('fonts/icomoon.woff?qh8bg5') format('woff'),
		url('fonts/icomoon.ttf?qh8bg5') format('truetype'),
		url('fonts/icomoon.svg?qh8bg5#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-douban:before {
	content: "\e603";
}
.icon-weixin:before {
	content: "\e604";
}
.icon-newicon:before {
	content: "\e600";
}
.icon-cog:before {
	content: "\e606";
}
.icon-phone:before {
	content: "\e601";
}
.icon-mobile:before {
	content: "\e602";
}
.icon-mail:before {
	content: "\e605";
}
.icon-pencil:before {
	content: "\e607";
}
.icon-paperclip:before {
	content: "\e609";
}
.icon-user:before {
	content: "\e60e";
}
.icon-export:before {
	content: "\e612";
}
.icon-location:before {
	content: "\e613";
}
.icon-compass:before {
	content: "\e615";
}
.icon-share:before {
	content: "\e618";
}
.icon-heart:before {
	content: "\e61a";
}
.icon-heart2:before {
	content: "\e61b";
}
.icon-star:before {
	content: "\e61c";
}
.icon-star2:before {
	content: "\e61d";
}
.icon-chat:before {
	content: "\e620";
}
.icon-comment:before {
	content: "\e621";
}
.icon-quote:before {
	content: "\e622";
}
.icon-house:before {
	content: "\e623";
}
.icon-link:before {
	content: "\e629";
}
.icon-tag:before {
	content: "\e62e";
}
.icon-camera:before {
	content: "\e62f";
}
.icon-music2:before {
	content: "\e635";
}
.icon-clock:before {
	content: "\e63e";
}
.icon-rss:before {
	content: "\e66b";
}
.icon-pie:before {
	content: "\e671";
}
.icon-bars:before {
	content: "\e672";
}
.icon-logout:before {
	content: "\e676";
}
.icon-login:before {
	content: "\e677";
}
.icon-checkmark:before {
	content: "\e678";
}
.icon-cross:before {
	content: "\e679";
}
.icon-minus2:before {
	content: "\e67d";
}
.icon-plus2:before {
	content: "\e67e";
}
.icon-cross3:before {
	content: "\e67f";
}
.icon-help:before {
	content: "\e687";
}
.icon-warning:before {
	content: "\e688";
}
.icon-cycle:before {
	content: "\e689";
}
.icon-cw:before {
	content: "\e68a";
}
.icon-ccw:before {
	content: "\e68b";
}
.icon-list:before {
	content: "\e694";
}
.icon-list2:before {
	content: "\e697";
}
.icon-pictures:before {
	content: "\e69d";
}
.icon-video:before {
	content: "\e69e";
}
.icon-music3:before {
	content: "\e69f";
}
.icon-disk:before {
	content: "\e6a5";
}
.icon-cloud:before {
	content: "\e6a7";
}
.icon-upload2:before {
	content: "\e6a8";
}
.icon-arrow-left4:before {
	content: "\e6ca";
}
.icon-arrow-down4:before {
	content: "\e6cb";
}
.icon-arrow-up3:before {
	content: "\e6cc";
}
.icon-arrow-right4:before {
	content: "\e6cd";
}
.icon-arrow-left5:before {
	content: "\e6ce";
}
.icon-arrow-down5:before {
	content: "\e6cf";
}
.icon-arrow-up4:before {
	content: "\e6d0";
}
.icon-arrow-right5:before {
	content: "\e6d1";
}
.icon-arrow-left6:before {
	content: "\e6d2";
}
.icon-arrow-down6:before {
	content: "\e6d3";
}
.icon-arrow-up5:before {
	content: "\e6d4";
}
.icon-arrow-right6:before {
	content: "\e6d5";
}
.icon-arrow-left7:before {
	content: "\e6d6";
}
.icon-arrow-down7:before {
	content: "\e6d7";
}
.icon-arrow-up6:before {
	content: "\e6d8";
}
.icon-uniE6D9:before {
	content: "\e6d9";
}
.icon-flickr:before {
	content: "\e6f1";
}
.icon-flickr2:before {
	content: "\e6f2";
}
.icon-vimeo:before {
	content: "\e6f3";
}
.icon-vimeo2:before {
	content: "\e6f4";
}
.icon-twitter:before {
	content: "\e6f5";
}
.icon-twitter2:before {
	content: "\e6f6";
}
.icon-facebook:before {
	content: "\e6f7";
}
.icon-facebook2:before {
	content: "\e6f8";
}
.icon-facebook3:before {
	content: "\e6f9";
}
.icon-googleplus:before {
	content: "\e6fa";
}
.icon-googleplus2:before {
	content: "\e6fb";
}
.icon-pinterest:before {
	content: "\e6fc";
}
.icon-pinterest2:before {
	content: "\e6fd";
}
.icon-tumblr:before {
	content: "\e6fe";
}
.icon-tumblr2:before {
	content: "\e6ff";
}
.icon-linkedin:before {
	content: "\e700";
}
.icon-linkedin2:before {
	content: "\e701";
}
.icon-qq:before {
	content: "\e70c";
}
.icon-instagram:before {
	content: "\e70d";
}
.icon-skype:before {
	content: "\e711";
}
.icon-skype2:before {
	content: "\e712";
}
.icon-renren:before {
	content: "\e713";
}
.icon-sina-weibo:before {
	content: "\e714";
}
.icon-paypal:before {
	content: "\e715";
}
.icon-picasa:before {
	content: "\e716";
}
.icon-vk:before {
	content: "\e71b";
}
.icon-smashing:before {
	content: "\e71c";
}
