@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?70hsxc');
	src:url('fonts/icomoon.eot?#iefix70hsxc') format('embedded-opentype'),
		url('fonts/icomoon.woff?70hsxc') format('woff'),
		url('fonts/icomoon.ttf?70hsxc') format('truetype'),
		url('fonts/icomoon.svg?70hsxc#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-newicon:before {
	content: "\e600";
}
.icon-douban:before {
	content: "\e603";
}
.icon-weixin:before {
	content: "\e604";
}
.icon-image2:before {
	content: "\e610";
}
.icon-wrench:before {
	content: "\e68e";
}
.icon-cogs:before {
	content: "\e692";
}
.icon-pie:before {
	content: "\e698";
}
.icon-list2:before {
	content: "\e6b8";
}
.icon-numbered-list:before {
	content: "\e6b9";
}
.icon-bold:before {
	content: "\e747";
}
.icon-italic:before {
	content: "\e749";
}
.icon-embed:before {
	content: "\e75e";
}
.icon-file-xml:before {
	content: "\e7bb";
}
.icon-phone2:before {
	content: "\e7c6";
}
.icon-mobile3:before {
	content: "\e7c7";
}
.icon-mail5:before {
	content: "\e7ca";
}
.icon-pencil:before {
	content: "\e7cc";
}
.icon-paperclip:before {
	content: "\e7ce";
}
.icon-drawer4:before {
	content: "\e7cf";
}
.icon-reply2:before {
	content: "\e7d0";
}
.icon-reply-all:before {
	content: "\e7d1";
}
.icon-forward4:before {
	content: "\e7d2";
}
.icon-user5:before {
	content: "\e7d3";
}
.icon-users3:before {
	content: "\e7d4";
}
.icon-user-add:before {
	content: "\e7d5";
}
.icon-export:before {
	content: "\e7d7";
}
.icon-location:before {
	content: "\e7d8";
}
.icon-compass:before {
	content: "\e7da";
}
.icon-target2:before {
	content: "\e7dc";
}
.icon-share:before {
	content: "\e7dd";
}
.icon-heart3:before {
	content: "\e7df";
}
.icon-heart4:before {
	content: "\e7e0";
}
.icon-star4:before {
	content: "\e7e1";
}
.icon-star5:before {
	content: "\e7e2";
}
.icon-chat:before {
	content: "\e7e5";
}
.icon-comment:before {
	content: "\e7e6";
}
.icon-quote:before {
	content: "\e7e7";
}
.icon-house:before {
	content: "\e7e8";
}
.icon-popup:before {
	content: "\e7e9";
}
.icon-bell2:before {
	content: "\e7ed";
}
.icon-link2:before {
	content: "\e7ee";
}
.icon-flag2:before {
	content: "\e7ef";
}
.icon-cog3:before {
	content: "\e7f0";
}
.icon-tools:before {
	content: "\e7f1";
}
.icon-tag2:before {
	content: "\e7f3";
}
.icon-camera3:before {
	content: "\e7f4";
}
.icon-music3:before {
	content: "\e7fa";
}
.icon-book2:before {
	content: "\e7fd";
}
.icon-newspaper2:before {
	content: "\e7fe";
}
.icon-clock3:before {
	content: "\e803";
}
.icon-cd:before {
	content: "\e809";
}
.icon-gauge:before {
	content: "\e80d";
}
.icon-rocket2:before {
	content: "\e816";
}
.icon-suitcase:before {
	content: "\e818";
}
.icon-cone:before {
	content: "\e819";
}
.icon-earth2:before {
	content: "\e81a";
}
.icon-keyboard2:before {
	content: "\e81b";
}
.icon-screen2:before {
	content: "\e826";
}
.icon-rss:before {
	content: "\e830";
}
.icon-module:before {
	content: "\e834";
}
.icon-pie2:before {
	content: "\e836";
}
.icon-bars3:before {
	content: "\e837";
}
.icon-logout:before {
	content: "\e83b";
}
.icon-login:before {
	content: "\e83c";
}
.icon-checkmark:before {
	content: "\e83d";
}
.icon-cross:before {
	content: "\e83e";
}
.icon-minus2:before {
	content: "\e83f";
}
.icon-plus2:before {
	content: "\e840";
}
.icon-cross2:before {
	content: "\e841";
}
.icon-minus3:before {
	content: "\e842";
}
.icon-plus3:before {
	content: "\e843";
}
.icon-cross3:before {
	content: "\e844";
}
.icon-minus4:before {
	content: "\e845";
}
.icon-plus4:before {
	content: "\e846";
}
.icon-erase:before {
	content: "\e847";
}
.icon-question2:before {
	content: "\e84b";
}
.icon-help:before {
	content: "\e84c";
}
.icon-warning:before {
	content: "\e84d";
}
.icon-cycle:before {
	content: "\e84e";
}
.icon-cw:before {
	content: "\e84f";
}
.icon-ccw:before {
	content: "\e850";
}
.icon-list:before {
	content: "\e859";
}
.icon-layout:before {
	content: "\e85b";
}
.icon-list4:before {
	content: "\e85c";
}
.icon-docs:before {
	content: "\e860";
}
.icon-pictures:before {
	content: "\e862";
}
.icon-video:before {
	content: "\e863";
}
.icon-music4:before {
	content: "\e864";
}
.icon-archive:before {
	content: "\e866";
}
.icon-disk:before {
	content: "\e86a";
}
.icon-cloud2:before {
	content: "\e86c";
}
.icon-upload2:before {
	content: "\e86d";
}
.icon-resize-enlarge:before {
	content: "\e879";
}
.icon-resize-shrink:before {
	content: "\e87a";
}
.icon-arrow-left4:before {
	content: "\e883";
}
.icon-arrow-down7:before {
	content: "\e884";
}
.icon-arrow-up-upload:before {
	content: "\e885";
}
.icon-arrow-right4:before {
	content: "\e886";
}
.icon-arrow-left8:before {
	content: "\e887";
}
.icon-arrow-down5:before {
	content: "\e888";
}
.icon-arrow-left7:before {
	content: "\e88f";
}
.icon-arrow-down4:before {
	content: "\e890";
}
.icon-arrow-up3:before {
	content: "\e891";
}
.icon-arrow-right7:before {
	content: "\e892";
}
.icon-arrow-left5:before {
	content: "\e893";
}
.icon-arrow-down5:before {
	content: "\e894";
}
.icon-arrow-up4:before {
	content: "\e895";
}
.icon-arrow-right5:before {
	content: "\e896";
}
.icon-arrow-left9:before {
	content: "\e897";
}
.icon-arrow-down9:before {
	content: "\e898";
}
.icon-arrow-up8:before {
	content: "\e899";
}
.icon-arrow-right9:before {
	content: "\e89a";
}
.icon-arrow-left10:before {
	content: "\e89b";
}
.icon-arrow-down10:before {
	content: "\e89c";
}
.icon-arrow-up9:before {
	content: "\e89d";
}
.icon-uniE89E:before {
	content: "\e89e";
}
.icon-menu3:before {
	content: "\e8a3";
}
.icon-ellipsis:before {
	content: "\e8a4";
}
.icon-dots:before {
	content: "\e8a5";
}
.icon-dot:before {
	content: "\e8a6";
}
.icon-github6:before {
	content: "\e8b4";
}
.icon-flickr5:before {
	content: "\e8b6";
}
.icon-flickr6:before {
	content: "\e8b7";
}
.icon-vimeo4:before {
	content: "\e8b8";
}
.icon-vimeo5:before {
	content: "\e8b9";
}
.icon-twitter:before {
	content: "\e8ba";
}
.icon-twitter5:before {
	content: "\e8bb";
}
.icon-facebook:before {
	content: "\e8bc";
}
.icon-facebook5:before {
	content: "\e8bd";
}
.icon-facebook6:before {
	content: "\e8be";
}
.icon-googleplus5:before {
	content: "\e8bf";
}
.icon-googleplus6:before {
	content: "\e8c0";
}
.icon-pinterest3:before {
	content: "\e8c1";
}
.icon-pinterest4:before {
	content: "\e8c2";
}
.icon-tumblr3:before {
	content: "\e8c3";
}
.icon-tumblr4:before {
	content: "\e8c4";
}
.icon-linkedin:before {
	content: "\e8c5";
}
.icon-linkedin3:before {
	content: "\e8c6";
}
.icon-qq:before {
	content: "\e8d1";
}
.icon-instagram:before {
	content: "\e8d2";
}
.icon-skype2:before {
	content: "\e8d6";
}
.icon-skype3:before {
	content: "\e8d7";
}
.icon-renren:before {
	content: "\e8d8";
}
.icon-sina-weibo:before {
	content: "\e8d9";
}
.icon-picasa:before {
	content: "\e8db";
}
.icon-vk:before {
	content: "\e8e0";
}
.icon-smashing:before {
	content: "\e8e1";
}
